<?php

$config = [
    // enable debug mode for development?
    'debug' => false,
    // admin contact information
    'admin_contact' => '<a href="mailto:opr@ee.nthu.edu.tw">opr@ee.nthu.edu.tw</a>',
    // show the admin contact information on the plugin page
    'show_admin_contact' => false,

    // enable chart presentation
    'enable_chart_presentation' => true,
    // enable text presentation
    'enable_text_presentation' => true,
];
